@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.page {
    background-color: rgb(250, 250, 250);
}

.header {
    color: black;
    height: 300px;
    margin-bottom: 40px;
}

.header h1 {
    position: absolute;
    top: 60px;
    left: 50px;
    font-size: 130px;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.background {
    position: absolute;
    width: 100%;
    height: 550px;
    background-image: url("https://miro.medium.com/max/11630/0*C5Y8W-6e9OVIB3AM");
    background-position: bottom;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 38%, 0 80%);
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
}